@import "tailwindcss";

body {
  background-color: #ffffff;
}

@theme {
  --font-montserrat-medium: var(--font-montserrat-medium);
  --font-futura-light: var(--font-futura-light);
  --font-futura-medium: var(--font-futura-medium);
  --font-futura-demi: var(--font-futura-demi);
  --font-futura-heavy: var(--font-futura-heavy);
}

#ai-chat-widget-container {
   position: absolute !important;
   bottom: 42px !important;
   right: 40px !important;
}

#chat-widget-button {
   height: 50px !important;
   width: 50px !important;
   background: rgba(46, 46, 46, 0.6) !important;
}

.description-text {
   color: rgba(256, 256, 256, 0.8);
}

::-webkit-scrollbar {
   display: none;
}